#### Add your code below following the instructions given in the course

__Exercise 1 - Create a Jupyter Notebook__

#I have renamed the Jupyter notebook as DataScienceEcosystem.ipynb

__Exercise 2 - Create markdown cell with title of the notebook__

#Data Science Tools and Ecosystem

__Exercise 3 - Create a markdown cell for an introduction__

###In this notebook, Data Science Tools and Ecosystem are summarized.

__Exercise 4 - Create a markdown cell to list data science languages__

###Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

__Exercise 5 - Create a markdown cell to list data science libraries__

###Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Seaborn
3. Keras

__Exercise 6 - Create a markdown cell with a table of Data Science tools__

#Data Science Tools

|Data Science Tools|
|-|
|Apache Spark|
|Spyder|
|Orange|

__Exercise 7 - Create a markdown cell introducing arithmetic expression examples__

###Below are a few examples of evaluating arithmetic expressions in Python.

In [20]:
x = 100

eval("x ** 2")

10000

In [21]:
x = 100
y = 101

eval("x < y")

True

__Exercise 8 - Create a code cell to multiply and add numbers__

#This a simple arithmetic expression to mutiply then add integers.

In [5]:
(3*4) + 5
# For getting result 17

17

__Exercise 9 - Create a code cell to convert minutes to hours__

#This will convert 200 minutes to hours by diving by 60.

In [29]:
def conv_mins_to_hrs(Minutes):
    return Minutes / 60

#Now specifying the minutes 
Minutes = 200

Hours = conv_mins_to_hrs(Minutes)
print("The 200 Minutes in Hours will be:",Hours)

The 200 Minutes in Hours will be: 3.3333333333333335

__Exercise 10 - Insert a markdown cell to list Objectives__

__Objectives:__

Write an introductory sentence about the notebook such as the follows:
In this notebook, Data Science Tools and Ecosystem are summarized.
Some of the popular languages that Data Scientists use are:
Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

__Exercise 11 - Create a markdown cell to indicate the Author's name__

##Author

Ritwik Patil